.noneMargin {
    margin: 0;
    border-radius: 0;
}

.bgColor {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#1798fe), to(rgba(113, 211, 251, 0.8)));
    width: 100%;
    /*height: 13rem;*/
}

.bgLight {
    background-color: #efeff4;
}

.hide {
    display: none;
}

.border-t,
.border-b,
.border-l,
.border-r,
.border-tb,
.border {
    position: relative;
}

.border-t:after {
    border-top: .03rem solid #c8c7cc;
}

.border-b:after {
    border-bottom: .03rem solid #c8c7cc;
}

.border-t:after,
.border-b:after,
.border-l:after,
.border-r:after,
.border-tb:after,
.border:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1);
    pointer-events: none;
}

.list-block input[type=text] {
    font-size: .7rem;
}

.label-switch input[type=checkbox]:checked+.checkbox {
    background-color: #0894ec;
}

.card {
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .1);
}

.list-block {
    font-size: .75rem;
}

.dateOption {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    margin: .5rem .2rem;
}

.dateOption button {
    border: 1px solid rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .8);
    font-size: .6rem;
    border-radius: .2rem;
}

.dateOption button.prev,
.dateOption button.next {
    background-color: rgba(30, 143, 238, .75);
    border: none;
}

.dateOption button.center {
    border: none;
}


/*标题样式*/

.content-block-title {
    margin: .75rem;
    text-align: center;
}

.content-block-title:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.3rem;
    width: 38%;
    border-top: 0.03rem solid #b5b5b5;
}

.content-block-title:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0.3rem;
    width: 38%;
    border-top: 0.03rem solid #b5b5b5;
}


/*sui 修改*/

.bar .button-nav.pull-left {
    margin-left: .25rem;
}

.bar .button-nav.pull-right {
    margin-right: .25rem;
}