ul {
	list-style-type: none;
}
*{padding:0;}
.noneMargin {
	margin: 0;
	border-radius: 0;
}
.noneMarginLR{margin-left:0;margin-right:0;}

.bgColor {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#1798fe), to(rgba(113, 211, 251, 0.8)));
	width: 100%;
	/*height: 13rem;*/
}

button[disabled], html input[disabled] {
    cursor: default;
    opacity: .5;
}

.bgLight {
	background-color: #efeff4;
}

.hide {
	display: none;
}

.border-t,
.border-b,
.border-l,
.border-r,
.border-tb,
.border {
	position: relative;
}

.border-t:after {
	/*border-top: .03rem solid #c8c7cc;*/
}

.border-b:after {
	/*border-bottom: .03rem solid #c8c7cc;*/
}

.border-t:after,
.border-b:after,
.border-l:after,
.border-r:after,
.border-tb:after,
.border:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
    background-color: #bdbdbd;
	-webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.list-block input[type=text] {
	font-size: .7rem;
}

.label-switch input[type=checkbox]:checked+.checkbox {
	background-color: #0894ec;
}

.list-block {
	font-size: .75rem;
}

.dateOption {
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	margin: .5rem .2rem;
}

.dateOption button {
	border: 1px solid rgba(255, 255, 255, .5);
	color: rgba(255, 255, 255, .8);
	font-size: .6rem;
	border-radius: .2rem;
}

.dateOption button.prev,
.dateOption button.next {
	background-color: rgba(30, 143, 238, .75);
	border: none;
}

.dateOption button.center {
	border: none;
}


/*自定义icon*/
.icon-ammeter{
	background: url(../images/icon-ammeter.png) center center no-repeat;
	background-size:2.3rem;
	width: 1.4rem;
	height: 1.4rem;
	vertical-align: middle;
}
.icon-collector {
	background: url(../images/icon-collector.png) center center no-repeat;
	background-size:2.3rem;
	width: 1.4rem;
	height: 1.4rem;
	vertical-align: middle;;
}
.icon-state-success{
	background: url(../images/icon-state-success.png) center center no-repeat;
	background-size:1.3rem;
	width:1.4rem;
	height:1.4rem;
	vertical-align: middle;
}
.icon-state-warning{
	background: url(../images/icon-state-warning.png) center center no-repeat;
	background-size:1.3rem;
	width:1.4rem;
	height:1.4rem;
	vertical-align: middle;
}

/*折叠菜单*/

.accordion {
 	width: 100%;
 	background: #FFF; 	
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	height:2rem;
	line-height: 2rem;
    padding-left: .75rem;
	color: #3d4145;
	font-size: .7rem;	
	border-bottom: 1px solid #e7e7e7;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li .toggle {
	position: absolute;
	top:0;
	right: 0;
	left: auto;
	width: 2rem;
	height: 1.95rem;
	line-height: 2rem;
	text-align: center;
	font-size: 0.8rem;
	color: white;
	background:#0894ec;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.icon-right {
	
}

.accordion li.open .link {
	color: #0894ec;
}

.accordion li.open i {

}
.accordion li.open i.icon-right {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #e6e6e6;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #ccc;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;

 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }

/*标题样式*/

.content-block-title {
	margin: .75rem;
	text-align: center;
	color: #a9a9a9;
}

.content-block-title:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.3rem;
	width: 32%;
	/*border-top: 0.03rem solid #bdbdbd;*/
	pointer-events: none;
	height: 1px;
    background-color: #bdbdbd;
	-webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.content-block-title:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0.3rem;
	width: 32%;
	height: 1px;
    background-color: #bdbdbd;
	/*border-top: 0.03rem solid #bdbdbd;*/
	pointer-events: none;
	-webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

#network{
	position: absolute;
	width:100%;
	height: 100%;
	background-color: #f3f3f3;
	overflow: hidden;
	z-index: 99999;
}
#network div{
	margin-top: 40%;
	text-align: center;
	color:#5f646e;
}
#network .button{
	width: 30%;
	margin:0 auto;
	height: 2rem;
	line-height: 2rem;
}
#network div span{
	padding-left:.2rem;
	display: inline-block;
}

/*sui 修改*/

.card {
	box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .1);
}

.bar .button-nav.pull-left {
	margin-left: .25rem;
}

.bar .button-nav.pull-right {
	margin-right: .25rem;
}
.picker-items{
	font-size: 1rem;
}
.picker-columns{
	height: 10rem;
}
.bar+.picker-items{
	height: 8.8rem;
}
.modal-title{
	font-size: .8rem;
	color: #666;
}
.toast{
	font-size: .7rem;
}

/*ztree修改*/
.ztree{
	padding:0 !important;
}
.ztree li{
	position: relative;
	background-color: white;
}
.ztree li ul {
	padding:0;
}
.ztree li ul li ul li a{
	padding-left: 50px;
}
.ztree li ul li a{
	padding-left:30px;
}
.ztree li ul li{
	position: relative;
}
.ztree li a{
	display: block;
	height: 40px;
	line-height:40px;
	padding:0 0 0 15px;
	border-bottom:1px solid #ddd;
}
.ztree li a.curSelectedNode{
	height: 40px;
	line-height:40px;
	background-color: #9bd1f4;
	border:none;
}
.ztree li span{
	display: inline-block;
	/*height: 40px;*/
	/*line-height:40px;*/
}
.ztree li span.button{
	width:0;
	/*height: 40px;*/
	/*line-height:40px;*/
	border:none;
}
.ztree li ul li span.button.switch{
	background-position:7px;
}
.ztree li span.button.switch{
	position: absolute;
	right:0;
	width:38px;
	height:40px;
	background-image:url("../libs/zTree/css/zTreeStyle/img/arrows.png");
	background-repeat: no-repeat;
	background-size:53px 26px;
	z-index: 99;
}
.ztree li span.button.noline_close,.ztree li ul li span.button.noline_close{
	background-position:6px 7px;
}
.ztree li span.button.noline_open,.ztree li ul li span.button.noline_open{
	background-position: -21px 7px;
}
.ztree li span.button.ico_close,.ztree li span.button.ico_open{
	background: none;
	width:0;
	height:0;
	outline: none;
}
.ztree li span.button.noline_docu{
	background: none;
}
.ztree *{
	font-size:14px;
}