#Chart {
    width: 100%;
    height: 12rem;
}

.sub-button {
    background-color: white;
    border: none;
    border-radius: 0;
    height: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: 0.2rem;
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .1);
}

.list-block .item-title.label {
    color: #0894ec;
}

.diyTime {
    display: flex !important;
    display: -webkit-flex !important;
    text-align: center;
}

.diyTime div {
    padding: .5rem;
}

.diyTime div:first-child {
    background-color: #0894ec;
    color: #fff;
    position: relative;
}

.diyTime div:first-child:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 33px solid transparent;
    border-left: 33px solid #0894ec;
    border-bottom: 33px solid transparent;
    position: absolute;
    right: -33px;
    top: 0;
}

.diyTime p {
    margin: 0;
}

.diyTime input[type=text] {
    text-align: center;
    height: 1.25rem;
}

.diyTime div:first-child input::-webkit-input-placeholder,
.diyTime div:first-child input[type=text]{
    color: #fff;
}

.diyTime div:last-child input::-webkit-input-placeholder {
    color: #333;
}